@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Cabin|Fira+Sans+Extra+Condensed|Fresca|Inconsolata|Josefin+Sans|Orbitron|Poppins|Quattrocento+Sans|Quicksand|Roboto:300,400|Rubik|Ubuntu|Ubuntu+Condensed');
/*********************************************FONTS********************************************/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}

.numbers {
    font-family: 'Inconsolata', monospace;
}

body {
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    min-height: 250px;
}

html{
    position: relative;
    min-height: 100%
}

a:active, a:hover, a:focus{
    text-decoration: none;
    outline: none;
}

a{
    color: #fff;
}

/*********************************************STANDAARD_ELEMENTS********************************************/

.disabled {
    pointer-events: none;
    cursor: default;
}

.disabled i{
    color: grey;
}

.nav-pills li, .nav-stacked li {
    text-align: center;
}

.media-object {
    height: 54px;
    width: 54px;
}

#donate h1{
    font-size: 1.6rem;
}

#donate p, #donate li, #donate span{
    font-size: 1.3rem;
}

h1, h2, h3 {
    font-size: 1.3rem;
}

.col-xs-6 {
    margin-bottom: 10px;
    width: 100%;
}

.media-right, .media-body {
    width: 70%;
}

.media-body p{
    margin: 0;
}

.media-body .pull-right{
    margin: 0px;
    padding: 0px;
    clear: both;
}

.media-body .first-right{
    margin-top: 4px;
}

.media-body .second-right{
    margin-top: 13px;
}

.red {
    color: red;
    font-style: italic;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}

.btn.active.focus, .btn.active:focus, .bnt.focus, .btn:active.focus, .btn:active:focus, .bnt:focus{
    outline: none;
}

.btn:focus, .btn:hover{
    color: #fff;
}

.btn-coinchecker {
    color: #ffffff;
    background-color: #445879;
    border-color: #445879;
}

.btn-coinchecker:active,.btn-coinchecker:focus, .btn-coinchecker.active{
    color: #416788;
    background-color: #B5BAD0;
    border-color: #B5BAD0;
}

.modal-body .btn.btn-coinchecker{
    padding: 2px 4px;
}

h1.info-many-coins{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 25px;
}

/*********************************************VIEW_TOTAL_LIST********************************************/

#form-exchange .form-inline .form-control{
    display: inline-block;
    vertical-align: middle;
}

#changeExchangeForViewing, #all-available-coins, #changeUSDOrEURPrice, #grossSearchBar {
    margin-bottom: 25px;
}

#form-exchange{
    margin-top: 15px;
}

#showGraphCoin {
    width	: 100%;
}

#showGraph .modal-body{
    padding: 0px;
}

#showGraph .modal-footer{
    padding: 5px;
}

#showGraph .modal-footer .get-back-to-menu{
    margin-top: 10px;
}

/*********************************************CHARTS********************************************/

.get-back-to-menu{
    margin-top: 25px;
}

.get-back-to-menu.back-bottom{
    margin-bottom: 25px;
}

/*********************************************GRAPH********************************************/

#select-the-graph p{
    margin-top: 25px;
}

#select-the-graph #BTC-GRAPH, #select-the-graph #USD-GRAPH, #select-the-graph #EUR-GRAPH{
    margin-right: 5px;
}

#select-the-graph .form-group{
    margin-top: 10px;
}

.container .error-no-coins{
    text-align: center;
}

/*********************************************NAVBAR********************************************/

.container .nav.nav-pills.nav-stacked{
    background-color: #ffffff;
    border-color: #ffffff;
    margin-top: 30px;
}

.navbar-default, body .nav-pills {
    background-color: #4c5376;
    border-color: #4c5376;
    text-align: center;
}

.nav-pills i {
    font-size: 22px;
}

.nav>li>a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/*********************************************HEADER_NEW_OLD_COIN********************************************/

#header-all-new .btn{
    width: 50%;
}

#header-all-new{
    border-color: #4c5376;
    border-width: 6px;
}

#header-all-new a:active{
    border: 0px;
    border-radius: 0px;
}

#header-all-new a{
    border: 0px;
    border-radius: 0px;
    border-color: #4c5376;
    background-color: #4c5376;
}

#header-form-button .navbar{
    margin-bottom: 10px;
    min-height: 35px;
}

#header-form-button .navbar-brand{
    height: 35px;
    padding: 10px 10px;
}

#header-form-button .navbar .btn.active{
    background-color: #fff;
    color: #445879;
}

#header-form-button .navbar .btn{
    color: #fff;
}

#all-coins, #all-new-coins {
    margin-top: 10px;
}

/*********************************************COIN_INFO********************************************/

#generateMoreHtml{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#coin-info{
    margin-top: 15px;
}

#coin-info h3.media-heading{
    font-size: 1.5rem;
}

#coin-info p{
    font-size: 1.3rem;
    margin-bottom: 10px !important;
}

#coin-info .media-body p{
    font-size: 1.2rem;
}

#coin-info h1{
    font-size: 1.7rem;
}

#coin-info .btn a{
    color: #fff;
}

.exchange-element{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.newInfo{
    display: flex;
}

.newInfo .refresh{
    display: inline-flex;
    align-items: center;
}

#gform,
#thankyou_message,
#all-new-coins,
#search-items,
#coinName{
    display: none;
}

.form-horizontal .form-group{
    margin-left: 0px;
    margin-right: 0px;
}

.wait{
    color: #416788;
    font-size: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
}

body .alert{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    margin: 0;
    text-align: center;
}

body .alert h1{
    margin: 0;
}

body .alert span .fa-stack-2x{
    color: tomato;
}

.container{
    margin-bottom: 22%;
}

@media (min-width: 768px){
    .container{
        margin-bottom: 9%;
    }
}

.btn.disabled{
    background-color: #C2B8B2;
    border-color: #C2B8B2;
    opacity: 1;
}

#top li h1{
    color: #fff;
}
